<!DOCTYPE html>
<html ng-app="AssetManagement">
	<head lang="en">

		<script type="text/javascript"
				src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

		<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

		<script
				src="AstMngrControllers.js"></script>

		<style>
		label {
			display: inline-block;
			width: 120px;
			vertical-align: middle;
		}

		input {
			display: inline-block;
			vertical-align: middle;
		}

		input.ng-invalid {
			border: solid red 2px;
		}

		textarea {
			width: 300px;
			height: 80px;
		}
		</style>

		<meta charset="UTF-8">

	</head>
	<body ng-controller="addItemCtrl">
		<ng-form novalidate name="itemForm" ng-submit="submitItem()">
		<div ng-repeat="item in list.items" ng-form="itemForm"class="container" >
			<hr>
					<label>Type:</label>
					<input type="text" name="type" ng-model="item.type" required />
					<span ng-show="itemForm.type.$dirty && itemForm.type.$error.required">type is a required field</span><br />

					<label>Name:</label>
					<input type="text" name="name" ng-model="item.name" required />
					<span ng-show="itemForm.name.$dirty && itemForm.name.$error.required">item name is a required field</span><br />

					<label>Serial number:</label>
					<input type="text" name="serialnumber" ng-model="item.serialnumber" required />
					<span ng-show="itemForm.serialnumber.$dirty && itemForm.serialnumber.$error.required">serial number is a required field</span><br />

					<label>Manufacture:</label>
					<input type="text" name="manufacture" ng-model="item.manufacture" required />
					<span ng-show="itemForm.manufacture.$dirty && itemForm.manufacture.$error.required">manufacture is a required field</span><br />

					<label>Model number:</label>
					<input type="text" name="model" ng-model="item.modelnumber" required />
					<span ng-show="itemForm.model.$dirty && itemForm.model.$error.required">model is a required field</span><br />

					<label>Color:</label>
					<input type="text" name="color" ng-model="item.color" required />
					<span ng-show="itemForm.color.$dirty && itemForm.color.$error.required">color is a required field</span><br />

					<label>Declarer ID#:</label>
					<input type="text" name="declarerId" ng-model="item.declarerId" required />
					<span ng-show="itemForm.declarerId.$dirty && itemForm.declarerId.$error.required">declarer ID is a required field</span><br />

			</hr>
		</div>
	</ng-form>
	<button type="button" ng-disabled="itemForm.$invalid" ng-click="newItem()">new</button>
	<button type="submit" ng-disabled="itemForm.$invalid" ng-click="step4()">save</button>
	</body>
	</html>
