<!DOCTYPE html>
<html ng-app="AssetManagement">
	<head lang="en">

		<script type="text/javascript"
				src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

		<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

		<script
				src="AstMngrControllers.js"></script>

		<style type="text/css">
		    .container {
		        width: 500px;
		        clear: both;
		    }
		    .container input {
		        width: 100%;
		        clear: both;
		    }

		    </style>

		<meta charset="UTF-8">

	</head>
	<body ng-controller="addOwnerCtrl">
		<div class="container" >
      <form novalidate ng-submit="sendPost()">
        Title: <input type="text" ng-model="title"/><br/>
        Name: <input type="text" ng-model="name"/><br/>
        Surname: <input type="text" ng-model="surname"/><br/>
        Gender: <input type="text" ng-model="gender"/><br/>
        ID #: <input type="text" ng-model="id"/><br/>
        Race: <input type="text" ng-model="race"/><br/>
        Country: <input type="text" ng-model="country"/><br/>
        Province: <input type="text" ng-model="city"/><br/>
      </form>
			<button type="submit" ng-click="step2('/addcontact')">send</button>
		</div>
	</body>
	</html>
