<!DOCTYPE html>
<html ng-app="AssetManagement">
	<head lang="en">

		<meta charset="UTF-8">

	</head>
	<body ng-controller="listContactsCtrl">
		<div>
			<div >
					Search: <input type="text" value="" placeholder="Global search" ng-model="search"/>
					<table border="1">
						<tr>
							<td><strong>Telephone#</strong></td>
							<td><strong>Email-address</strong></td>
							<td><strong>Update</strong></td>
						</tr>
						<tr ng-repeat="data in myData | filter : search">
							<td>{{data.telephone}}</td>
							<td>{{data.email}}</td>
							<td><a href="#/updateContact/{{data.contactId}}" ng-click="editRecord(data)">Edit</a></td>
						</tr>
					</table>
			</div>
		</div>
	</body>
</html>
