<!DOCTYPE html>
<html ng-app="AssetManagement">
	<head lang="en">

		<meta charset="UTF-8">

	</head>
	<body ng-controller="listCtrl">
		<div>
			<div >
					Search: <input type="text" value="" placeholder="Global search" ng-model="search"/>
					<table border="1">
						<tr>
							<td><strong>Serial#</strong></td>
							<td><strong>Owner-ID#</strong></td>
							<td><strong>Type</strong></td>
							<td><strong>Name</strong></td>
							<td><strong>Model#</strong></td>
							<td><strong>Manufacture</strong></td>
							<td><strong>Color</strong></td>
							<td><strong>Declarer-ID#</strong></td>
							<td><strong>Declaration-Date</strong></td>
							<td><strong>Update</strong></td>
							<td><strong>Remove</strong></td>
							<td><strong>View-Owner</strong></td>
						</tr>
						<tr ng-repeat="data in myData | filter : search">
							<td>{{data.serialnumber}}</td>
							<td>{{data.ownerId}}</td>
							<td>{{data.type}}</td>
							<td>{{data.name}}</td>
							<td>{{data.modelnumber}}</td>
							<td>{{data.manufacture}}</td>
							<td>{{data.color}}</td>
							<td>{{data.declarerId}}</td>
							<td>{{data.declarationDate | date:'yyyy-MM-dd'}}</td>
							<td><a href="#/updateDeclaration/{{data.serialnumber}}" ng-click="editRecord(data)">Edit</a></td>
							<td><a ng-href="#/list" ng-click="deleteRecord(data)" confirmation-needed>Delete</a></td>
							<td><a ng-href="#/owners/{{data.ownerId}}">Owner</a></td>
						</tr>
					</table>
			</div>
		</div>
	</body>
</html>
