<!DOCTYPE html>
<html ng-app="AssetManagement">
<head lang="en">

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

<script src="AstMngrControllers.js"></script>

<style>
label {
	display: inline-block;
	width: 120px;
	vertical-align: middle;
}

input {
	display: inline-block;
	vertical-align: middle;
}

input.ng-invalid {
	border: solid red 2px;
}

textarea {
	width: 300px;
	height: 80px;
}
</style>


<meta charset="UTF-8">

</head>
<body ng-controller="updateOwnerCtrl">
	<div>
		<hr>
			<form name="ownerForm" ng-submit="submitOwner()">
				<label>Title:</label>
				<input type="text" name="title" ng-model="myData.title" ng-minlength="1" required />
				<span ng-show="ownerForm.title.$dirty && ownerForm.title.$error.required">title is a required field</span>
				<span ng-show="ownerForm.title.$dirty && ownerForm.title.$error.minlength">invalid title</span><br />

				<label>Surname:</label>
				<input type="text" name="surname" ng-model="myData.surname" required />
				<span ng-show="ownerForm.surname.$dirty && ownerForm.surname.$error.required">surname is a required field</span><br />

				<label>Country:</label>
				<input	type="text" name="country" ng-model="myData.country" required />
				<span ng-show="ownerForm.country.$dirty && ownerForm.country.$error.required">country is a required field</span><br />

				<label>Province:</label>
				<input	type="text" name="province" ng-model="myData.province" required />
				<span ng-show="ownerForm.province.$dirty && ownerForm.province.$error.required">province is s required field</span><br />

				<label>City:</label>
				<input type="text" name="city" ng-model="myData.city" required />
				<span ng-show="ownerForm.city.$dirty && ownerForm.city.$error.required">city is a required field</span><br />
			</form>
			<button type="submit" ng-disabled="ownerForm.$invalid" ng-click="updateOwner('/list')">Update</button>
		</hr>
	</div>
</body>
</html>
